1. Write a program to reverse a string.

In [ ]:
s=input("Enter the string value")
print(s[::-1])

Enter the string value stark

krats

In [ ]:
#2. Check if a string is a palindrome.
s=input("Enter the string value")
s1 = s[::-1]
if s==s1:
    print("Entered value is pallindrome")
else:
     print("Entered value is not pallindrome")

Enter the string value name

Entered value is not pallindrome

In [ ]:
#3. Convert a string to uppercase.
s = input("Enter the string value")
s.upper()

Enter the string value narmatha

'NARMATHA'

In [ ]:
#4. Convert a string to lowercase.
s = input("Enter the string value")
s.lower()

Enter the string value TESLA

'tesla'

In [ ]:
#5. Count the number of vowels in a string.
s = input("Enter the string value")
a = 'aeiouAEIOU'
count=sum(s.count(i) for i in a)
print(f"No of vowles : {count}")

Enter the string value madam

No of vowles : 2

In [ ]:
#6. Count the number of consonants in a string.
def count_consonants(input_string):
    # Define a list of consonants
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"


    count = 0

    # Iterate through each character in the input string
    for char in input_string:
        # Check if the character is a consonant
        if char in consonants:
            count += 1

    return count


input_string = "Hello, World!"
consonant_count = count_consonants(input_string)
print("Number of consonants:", consonant_count)

Number of consonants: 7

In [ ]:
#7. Remove all whitespaces from a string.
s = input("Enter the string value")
d= s.replace(' ','')
print("Wiht out space : ", d)

Enter the string value N M A E

Wiht out space :  NMAE

In [ ]:
#8. Find the length of a string without using the `len()` function.
s = input("Enter the string value")
count=0
for a in s:
    count=count+1

print("Length of string :",count)

Enter the string value name

Length of string : 4

In [ ]:
#9. Check if a string contains a specific word.
sw = " Hello how are you"
s = input("Enter the string value")
s=s.lower()
if s in sw.lower():
    print("it contains word.")
else:
    print("it does not contain word.")

Enter the string value hoW

it contains word.

In [ ]:
#10. Replace a word in a string with another word.
s="how are you"
s= s.replace('you',"me")
s

'how are me'

In [ ]:
#11. Count the occurrences of a word in a string.
input_string = "This is a sample sentence. Sample is the sample word."
target_word = "sample"
occurrences = input_string.lower().count(target_word.lower())
occurrences

3

In [ ]:
#12. Find the first occurrence of a word in a string.
input_string = "This is a sample sentence. Sample is the sample word."
target_word = "sample"
input_string = input_string.lower()
target_word = target_word.lower()
first_occurrence = input_string.find(target_word)
first_occurrence

10

In [ ]:
#13. Find the last occurrence of a word in a string.
input_string = "This is a sample sentence. Sample is the sample word."
target_word = "sample"
input_string = input_string.lower()
target_word = target_word.lower()
first_occurrence = input_string.rfind(target_word)
first_occurrence

41

In [ ]:
#14. Split a string into a list of words.
s= "This is a sample sentence"
d = s.split()
d

['This', 'is', 'a', 'sample', 'sentence']

In [ ]:
#15. Join a list of words into a string.
word_list = ["This", "is", "a", "list", "of", "words."]

joins = " ".join(word_list)
joins

'This is a list of words.'

In [ ]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
input_string = "This is a string with spaces between words."
converted_string  = input_string.replace(" ","_")
converted_string

'This_is_a_string_with_spaces_between_words.'

In [ ]:
#17. Check if a string starts with a specific word or phrase.
input_string = "Hello, World!"
target_word = "Hello"
if input_string.startswith(target_word):
     print(f'The string starts with "{target_word}"')
else:
    print(f'The string not starts with "{target_word}"')

The string starts with "Hello"

In [ ]:
#18. Check if a string ends with a specific word or phrase.
input_string = "Hello, World"
target_word = "Hello"
if input_string.endswith(target_word):
     print(f'The string ends with "{target_word}"')
else:
    print(f'The string not ends with "{target_word}"')

The string not ends with "Hello"

In [ ]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
title_word = "hello world"
t= title_word.title()
t

'Hello World'

In [ ]:
#20. Find the longest word in a string.
s = 'Hi good morning friends'
d= s.split()
maxlength = 0
maxword = ''
for g in d:
    if maxlength <len(g):
        maxlength = len(g)
        maxword = g


print(f"Maximum length of the word is '{maxlength}'  and the word is '{maxword}'")

Maximum length of the word is '7'  and the word is 'morning'

In [ ]:
#21. Find the shortest word in a string.
s = 'Hi good morning friends'
d= s.split()
maxlength = 100
maxword = ''
for g in d:
    if maxlength > len(g):
        maxlength = len(g)
        maxword = g


print(f"shortest length of the word is '{maxlength}'  and the word is '{maxword}'")

shortest length of the word is '2'  and the word is 'Hi'

In [ ]:
#22. Reverse the order of words in a string.
s = 'Hi good morning friends'
d= s.split()
f = ''
for g in d:
    f= g+' '+f

print(f)

friends morning good Hi

In [ ]:
s = "Hello123"
isalphanum = s.isalnum()
print(f"'{s}' is alphanumeric: {isalphanum}")

'Hello123' is alphanumeric: True

In [ ]:
#24. Extract all digits from a string.

input_string = "Hello125r."
extracted_digits = ""

for char in input_string:
    if char.isdigit():
            extracted_digits += char

print("Extracted digits:", extracted_digits)

Extracted digits: 125

In [ ]:
input_string = "Hello125r."
extracted_digits = ""

for char in input_string:
    if char.isalpha():
            extracted_digits += char

print("Extracted charcter:", extracted_digits)

Extracted charcter: Hellor

In [ ]:
#26. Count the number of uppercase letters in a string.
input_string = "Hello12D5r."
extracted_digits = ""

for char in input_string:
    if char.isupper():
            extracted_digits += char

print("Extracted upper:", extracted_digits)

Extracted upper: HD

In [ ]:
#27. Count the number of lowercase letters in a string.
input_string = "Hello12D5r."
extracted_digits = ""

for char in input_string:
    if char.islower():
            extracted_digits += char

print("Extracted lower:", extracted_digits)

Extracted lower: ellor

In [ ]:
#28. Swap the case of each character in a string.

input_string = "Hello, World!"
swap = input_string.swapcase()
swap

'hELLO, wORLD!'

In [ ]:
#29. Remove a specific word from a string.
input_string = "Hello, how are you dear"
word = input_string.replace('dear','')
word.strip()

'Hello, how are you'

In [ ]:
#30. Check if a string is a valid email address.
import re
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
email = 'nagaraj234@gmail.com'
if re.match(pattern, email):
    print(f"'{email}' is a valid email address")

'nagaraj234@gmail.com' is a valid email address

In [ ]:
#31. Extract the username from an email address string.
email_address = "john@gmail.com"
r = email_address.split('@')

print(f'Username is "{r[0]}"')

Username is "john"

In [ ]:
#32. Extract the domain name from an email address string.
email_address = "john@gmail.com"
r = email_address.split('@')

print(f'Domain is "{r[1]}"')

Domain is "gmail.com"

In [ ]:
#33. Replace multiple spaces in a string with a single space.
s =" This        is     my world"
space = ' '.join(s.split())
space.strip()

'This is my world'

In [ ]:
#34. Check if a string is a valid URL.

url = 'http://www.pwskills.com/'
validate = 'https://'
validate1 = 'http://'
if validate in url:
    print(f"This valid url  {url}")
elif validate1 in url:
    print(f"This valid url  {url}")

This valid url  http://www.pwskills.com/

In [ ]:
#35. Extract the protocol (http or https) from a URL string.
url = 'https://www.pwskills.com/'
url.split(':')[0]

'https'

In [ ]:
#36. Find the frequency of each character in a string.
input_string = "hello world"
character = {}

for char in input_string:
    character[char] = character.get(char,0)+1

for char, count in character.items():
    print(f"'{char}': {count}")

'h': 1
'e': 1
'l': 3
'o': 2
' ': 1
'w': 1
'r': 1
'd': 1

In [ ]:
#37. Remove all punctuation from a string.
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
s='Hello! world.'

for g in s:
    if g in punc:
        s = s.replace(g,'')

print(f'removed punctuation : "{s}"')

removed punctuation : "Hello world"

In [ ]:
#38. Check if a string contains only digits.
s = 'hello126'
n = '1564165151'
def contan_digit(inputs):
    if inputs.isnumeric():
        return print(f"IT is only numeric '{inputs}'")
    else:
        return print(f"It is not only contain numeric '{inputs}'")

contan_digit(s)
contan_digit(n)

It is not only contain numeric 'hello126'
IT is only numeric '1564165151'

In [ ]:
#39. Check if a string contains only alphabets.
s = 'hello126'
n = 'name'
def contan_digit(inputs):
    if inputs.isalpha():
        return print(f"IT is only alphabets '{inputs}'")
    else:
        return print(f"It is not only contain alphabets '{inputs}'")

contan_digit(s)
contan_digit(n)

It is not only contain alphabets 'hello126'
IT is only alphabets 'name'

In [ ]:
#40. Convert a string to a list of characters.

s = 'hello'
char_list = [char for char in s]
char_list

['h', 'e', 'l', 'l', 'o']

In [ ]:
#41. Check if two strings are anagrams.

string1 = "listen"
string2 = "silent"
if sorted(string1.lower()) == sorted(string2.lower()):
     print(f"'{string1}' and '{string2}' are anagrams.")
else:
    print(f"'{string1}' and '{string2}' are not anagrams.")

'listen' and 'silent' are anagrams.

In [ ]:
#42. Encode a string using a Caesar cipher.
encrypted_text = ""
input_string = "Hello, World!"
shift_value = 3

for char in input_string:
    if char.isalpha():
        is_upper = char.isupper()
        char_code = ord(char.lower())
        shifted_code = (char_code - ord('a') + shift_value) % 26 + ord('a')
        shifted_char = chr(shifted_code)
        if is_upper:
                shifted_char = shifted_char.upper()
        encrypted_text += shifted_char
    else:
        encrypted_text += char

print("Encoded text:", encrypted_text)

Encoded text: Khoor, Zruog!

In [ ]:
#43. Decode a Caesar cipher encoded string.
decrypted_text = ""
input_string = "Khoor, Zruog!"
shift_value = 3

for char in input_string:
    if char.isalpha():
        is_upper = char.isupper()
        char_code = ord(char.lower())
        shifted_code = (char_code - ord('a') - shift_value) % 26 + ord('a')
        shifted_char = chr(shifted_code)
        if is_upper:
                shifted_char = shifted_char.upper()
        decrypted_text += shifted_char
    else:
        decrypted_text += char

print("decrypted text:", decrypted_text)

decrypted text: Hello, World!

In [ ]:
#44. Find the most frequent word in a string.
input_string = "hello world"
character = {}

for char in input_string:
    character[char] = character.get(char,0)+1


fr= max(character,key=character.get)
print(f"Most frequent word in string is '{fr.upper()}'")

Most frequent word in string is 'L'

In [ ]:

#45. Find all unique words in a string.
s = "This is a sample string. It contains sample words, but the word 'sample' appears most frequently!"

words = s.split()
unique_word_set = set(words)
print("Unique words:", unique_word_set)

Unique words: {'sample', 'is', 'string.', 'It', 'word', 'but', 'frequently!', 'the', 'most', 'appears', 'This', 'words,', "'sample'", 'a', 'contains'}

In [ ]:
#46. Count the number of syllables in a string.


word = "syllables"

word = word.lower()
vowels = "aeiou"
# Initialize a count of syllables
syllable_count = 0
# Flag to indicate if the previous character was a vowel
prev_char_vowel = False
# Iterate through each character in the word
for char in word:
    if char in vowels:
        # If the current character is a vowel and the previous character
        # was not a vowel, increment the syllable count
        if not prev_char_vowel:
            syllable_count += 1
        prev_char_vowel = True
    else:
        prev_char_vowel = False

# Adjust the count for some special cases
if word.endswith("e"):
    syllable_count -= 1
if word.endswith("le") and len(word) > 2 and word[-3] not in vowels:
    syllable_count += 1

# Ensure that the count is at least 1 for valid words
syllable_count = max(syllable_count, 1)



print(f"The word '{word}' has {syllable_count} syllables.")

The word 'syllables' has 2 syllables.

In [ ]:
#47. Check if a string contains any special characters.
s = 'hello!'
h = False
for g in s:
    if g.isalpha():
        None
    elif g.isnumeric():
        None
    elif g.isalnum():
        None
    else:
        h = True
if(h==True):
    print(f"It contain special charcter '{s}'")
else:
    print(f"It does not contain special charcter '{s}'")

It contain special charcter 'hello!'

In [ ]:
#48. Remove the nth word from a string.

s = "This is an example sentence to remove the third word."
words = s.split()

n= 5

if n>0 & n<len(words):
    words.pop(n)
    updated_string = ' '.join(words)
print("String after removing the {}-th word:".format(n + 1))
print(updated_string)

String after removing the 6-th word:
This is an example sentence remove the third word.

In [ ]:
#49. Insert a word at the nth position in a string.

s = "This is an example sentence to remove the third word."
words = s.split()
word_to_insert = 'hello'
n= 5

if n>0 & n<len(words):
    words.insert(n,word_to_insert)
    updated_string = ' '.join(words)
print("String after removing the {}-th word:".format(n + 1))
print(updated_string)

String after removing the 6-th word:
This is an example sentence hello to remove the third word.

In [ ]:
#50. Convert a CSV string to a list of lists.
csv_string = "Name,Age,Location\nAlice,25,New York\nBob,30,Los Angeles\nCharlie,22,Chicago"
lines = csv_string.split('\n')
result = []

for line in lines:
    if line:
        fields = line.split(',')
        result.append(fields)
print(result)

[['Name', 'Age', 'Location'], ['Alice', '25', 'New York'], ['Bob', '30', 'Los Angeles'], ['Charlie', '22', 'Chicago']]

List Based Practice Problem :

In [ ]:
#1. Create a list with integers from 1 to 10.
li = list(range(1,11))
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of a list without using the `len()` function.
li = list(range(1,11))
count = 0
for i in li:
    count = count +1

print(f"Length of list: {count}")

Length of list: 10

In [ ]:
#3. Append an element to the end of a list.
li = list(range(1,11))
li.append(12)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [ ]:
#4. Insert an element at a specific index in a list.
li = list(range(1,11))
li[2] = 56
print(li)

[1, 2, 56, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#5. Remove an element from a list by its value.
li = list(range(1,11))
li.remove(8)
print(li)

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [ ]:
#6. Remove an element from a list by its index.
li = list(range(1,11))
li.pop(2)

print(li)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#7. Check if an element exists in a list.
li = list(range(1,11))
element_to_check = 3

if element_to_check in li:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [ ]:
#8. Find the index of the first occurrence of an element in a list.
li = list(range(1,11))
element_to_check = 3

inde = li.index(element_to_check)

print(f"index of {element_to_check} : {inde}")

index of 3 : 2

In [ ]:
#9. Count the occurrences of an element in a list.
li = [5,25,36,2,2,2,2,3]
search = 2
v= li.count(search)

print(f"count of {search} : {v}")

count of 2 : 4

In [ ]:
#10. Reverse the order of elements in a list.
li = [5,25,36,2,2,2,2,3]

print(li[::-1])

[3, 2, 2, 2, 2, 36, 25, 5]

In [ ]:
#11. Sort a list in ascending order.
li = [5,25,36,2,2,2,2,3]
sr = sorted(li)
print(sr)

[2, 2, 2, 2, 3, 5, 25, 36]

In [ ]:
#12. Sort a list in descending order.

li = [5,25,36,2,2,2,2,3]
sr = sorted(li,reverse = True)
print(sr)

[36, 25, 5, 3, 2, 2, 2, 2]

In [ ]:
#13. Create a list of even numbers from 1 to 20.
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

print(li)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#14. Create a list of odd numbers from 1 to 20.
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15. Find the sum of all elements in a list.

li = [5,25,36,2,2,2,2,3]
sum_list = sum(li)

print(f"sum of list {sum_list}")

sum of list 77

In [ ]:
#16. Find the maximum value in a list.

li = [5,25,36,2,2,2,2,3]
max_value = 0

for i in li:
    if max_value <i:
        max_value = i

print(f"Maxvalue in list : {max_value}")

Maxvalue in list : 36

In [ ]:
#17. Find the minimum value in a list.

li = [5,25,36,2,2,2,2,1,3]
max_value

for i in li:
    if max_value >i:
        max_value = i

print(f"Minvalue in list : {max_value}")

Minvalue in list : 1

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19. Create a list of random numbers.

import random
random_numbers = [random.randint(1, 100) for _ in range(10)]

print(random_numbers)

[2, 55, 99, 20, 69, 61, 10, 37, 5, 72]

In [ ]:
#20. Remove duplicates from a list.
li = [5,25,36,2,2,2,2,3]

li_withoutduplicate = list(set(li))

print(f"List with out duplicate :  {li_withoutduplicate}")

List with out duplicate :  [2, 3, 36, 5, 25]

In [ ]:
#21. Find the common elements between two lists.

li1 = [2,3,6,5,3,9]
li2 = [1,3,5,7,9,9,9,9,9,9]
li3 = []
for i in li1:
    for j in li2:
        if i == j:
            li3.append(i)
print(list(set(li3)))

[9, 3, 5]

In [ ]:
#22. Find the difference between two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Convert the lists to sets
set1 = set(list1)
set2 = set(list2)

# Find the difference between the sets
difference1 = list(set1 - set2)
difference2 = list(set2 - set1)

print("Difference between list1 and list2:", difference1)
print("Difference between list2 and list1:", difference2)

Difference between list1 and list2: [1, 2]
Difference between list2 and list1: [6, 7]

In [ ]:
#23. Merge two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

list3 = list1 + list2

print(list3)

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [ ]:
#24. Multiply all elements in a list by 2.
li = [3, 4, 5, 6, 7]
li1 = []
for i in li:
    if i%2 == 0:
        li1.append(i/2)
    else:
        li1.append(i)


print(li1)

[3, 2.0, 5, 3.0, 7]

In [ ]:
#25. Filter out all even numbers from a list.

li = [3, 4, 5, 6, 7]
li1 = []
for i in li:
    if i%2 == 0:
        li1.append(i)

print(li1)

[4, 6]

In [ ]:
#26. Convert a list of strings to a list of integers.
string_list = ["1", "2", "3", "4", "5"]
integer_list = [int(x) for x in string_list]
print(integer_list)

[1, 2, 3, 4, 5]

In [ ]:
#27. Convert a list of integers to a list of strings.
integer = [1, 2, 3, 4, 5]
string_list = [str(x) for x in integer]
print(string_list)

['1', '2', '3', '4', '5']

In [ ]:
#28. Flatten a nested list.
nested_list = [1, [2, 3], [4, [5, 6]], 7]

flattened_list = []
stack = list(nested_list)

while stack:
    current_item = stack.pop()
    if isinstance(current_item, list):
        stack.extend(current_item)
    else:
        flattened_list.append(current_item)

print(flattened_list)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.

listofFIb = list(i for i in range(0,11) )
listt =[]
for i in range(0,11):
    if i<=1:
        listt.append(i)
    else:
        listt.append(listt[i-1] + listt[i-2])


print(listt)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
#30. Check if a list is sorted.

integer = [1, 2, 9, 4, 5]
sorted_integer = sorted(integer)

if integer == sorted_integer:
    print("List is sorted")
else:
    print("List is Not sorted")

List is Not sorted

In [ ]:
#31. Rotate a list to the left by `n` positions.
integer = [1, 2, 9, 4, 5]
n=2

#n = n % len(integer)
integer = integer[n:] + integer[:n]
integer

[9, 4, 5, 1, 2]

In [ ]:
#32. Rotate a list to the right by `n` positions.
integer = [1, 2, 9, 4, 5]
n=2

#n = n % len(integer)
integer = integer[-n:] + integer[:-n]
integer

[4, 5, 1, 2, 9]

In [ ]:
#33. Create a list of prime numbers up to 50.
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

# Generate a list of prime numbers up to 50
prime_numbers = [x for x in range(2, 51) if is_prime(x)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#34. Split a list into chunks of size `n`.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = [my_list[i:i + chunk_size] for i in range(0, len(my_list), chunk_size)]
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [ ]:
#35. Find the second largest number in a list.
my_list = [1, 3, 5, 7, 2, 6, 4, 8]
second_largest =0
largest = 0
for num in my_list:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest and num != largest:
        second_largest = num

print("Second largest in  list : ",second_largest)

#or
sor = sorted(my_list)
print("Second largest in  list : ",sor[-2])

Second largest in  list :  7
Second largest in  list :  7

In [ ]:
#36. Replace every element in a list with its square.
my_list = [1, 3, 5, 7, 2, 6, 4, 8]
my_list = [i**2 for i in my_list]

print(my_list)

[1, 9, 25, 49, 4, 36, 16, 64]

In [ ]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

my_list = ["apple", "banana", "cherry", "date"]

# Using a dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [ ]:
#38. Shuffle the elements of a list randomly.
import random

my_list = [1, 2, 3, 4, 5]

# Shuffle the list in place
random.shuffle(my_list)

print(my_list)

[5, 3, 1, 4, 2]

In [ ]:
#39. Create a list of the first 10 factorial numbers.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(n) for n in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
#40. Check if two lists have at least one element in common.

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

if len(set1.intersection(set2)) > 0:
    print("The two lists have at least one element in common.")
else:
    print("The two lists do not have any common elements.")

The two lists have at least one element in common.

In [ ]:
#41. Remove all elements from a list.

list1 = [1, 2, 3, 4, 5]

list1.clear()
list1

[]

In [ ]:
#42. Replace negative numbers in a list with 0.

list1 = [1, 2, -3, 4, 5]

for i in list1:
    if i<0:
        list1[i] = 0

list1

[1, 2, 0, 4, 5]

In [ ]:
#43. Convert a string into a list of words.

s ="words"

l1 =[i for i in s]

l1

['w', 'o', 'r', 'd', 's']

In [ ]:
#44. Convert a list of words into a string.

l1 = ['w', 'o', 'r', 'd', 's']
s=''
for i in l1:
    s= s + i
s

'words'

In [ ]:
#45. Create a list of the first `n` powers of 2.
n = 10  # Change this to the desired number of powers
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
#46. Find the longest string in a list of strings.

l1 = ['hello','how','are','you']

long_st_count= 0
long_st = ''

for i in l1:
    if len(i) > long_st_count:
        long_st_count = len(i)
        long_st = i

print(long_st)

hello

In [ ]:
#47. Find the shortest string in a list of strings.
l1 = ['hello','how','are','you']

short_st_count= 100
short_st = ''

for i in l1:
    if len(i) < short_st_count:
        short_st_count = len(i)
        short_st = i

print(short_st)

how

In [ ]:
#48. Create a list of the first `n` triangular numbers.
n = 10  # Change this to the desired number of triangular numbers
triangular_numbers = [sum(range(1, i + 1)) for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
#49. Check if a list contains another list as a subsequence.
main_list = [1, 2, 3, 4, 5, 6]
subsequence = [2, 4, 6]

subseq_len = len(subsequence)
seq_len = len(main_list)
subseq_index = 0
seq_index = 0
while subseq_index < subseq_len and seq_index < seq_len:
        if subsequence[subseq_index] == main_list[seq_index]:
            subseq_index += 1
        seq_index += 1

if subseq_index == subseq_len:
     print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

In [ ]:
#50. Swap two elements in a list by their indices.
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

print(my_list)

[1, 4, 3, 2, 5]

In [ ]:
#Tuple Based Practice Problem :

In [ ]:
#1. Create a tuple with integers from 1 to 5.
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
#2. Access the third element of a tuple.
my_tuple = (1, 2, 3, 4, 5)

print(my_tuple[2])

3

In [ ]:
#3. Find the length of a tuple without using the `len()` function.
my_tuple = (1, 2, 3, 4, 5)

count = 0
for _ in my_tuple:
    count = count + 1

print("Length of tuple : ",count)

Length of tuple :  5

In [ ]:
#4. Count the occurrences of an element in a tuple.

my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)

# Count the occurrences of the element 2
count = my_tuple.count(2)

print("The element 2 appears", count, "times in the tuple.")

The element 2 appears 4 times in the tuple.

In [ ]:
#5. Find the index of the first occurrence of an element in a tuple.
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)

index = my_tuple.index(2)
index

1

In [ ]:
#6. Check if an element exists in a tuple.

my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)
element_to_check = 10

if element_to_check in my_tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 10 does not exist in the tuple.

In [ ]:
#7. Convert a tuple to a list.
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)

l1 = list(my_tuple)
l1

[1, 2, 2, 3, 4, 2, 5, 2]

In [ ]:
#8. Convert a list to a tuple.
l1 = [1, 2, 2, 3, 4, 2, 5, 2]
my_tuple = tuple(l1)

my_tuple

(1, 2, 2, 3, 4, 2, 5, 2)

In [ ]:
#9. Unpack the elements of a tuple into variables.

my_tuple = (1, 2, 3)

# Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 1
var2: 2
var3: 3

In [ ]:
#10. Create a tuple of even numbers from 1 to 10.

tuples = tuple(i for i in range(0,10) if i%2 ==0)
tuples

(0, 2, 4, 6, 8)

In [ ]:
#11. Create a tuple of odd numbers from 1 to 10.
tuples = tuple(i for i in range(0,10) if i%2 !=0)
tuples

(1, 3, 5, 7, 9)

In [ ]:
#12. Concatenate two tuples.
t1 = (1,2,5,6)
t2 = (6,5,2,4)

t3 = t1 + t2

print(t3)

(1, 2, 5, 6, 6, 5, 2, 4)

In [ ]:
#13. Repeat a tuple three times.
t1 = (1,2,5,6)
repeated_tuple = t1 * 3

print(repeated_tuple)

(1, 2, 5, 6, 1, 2, 5, 6, 1, 2, 5, 6)

In [ ]:
#14. Check if a tuple is empty.

my_tuple = ()

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [ ]:
#15. Create a nested tuple.

nested_tuple = ((1, 2), (3, 4), (5, 6))

print(nested_tuple)

((1, 2), (3, 4), (5, 6))

In [ ]:
#16. Access the first element of a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))

first_element = nested_tuple[0][0]

print("The first element of the nested tuple is:", first_element)

The first element of the nested tuple is: 1

In [ ]:
#17. Create a tuple with a single element.
tup = (1,)
tup

(1,)

In [ ]:
#18. Compare two tuples.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Equal check
if tuple1 == tuple2:
    print("tuple1 is equal to tuple2")
else:
    print("tuple1 is not equal to tuple2")

tuple1 is equal to tuple2

In [ ]:
#19. Delete a tuple.
tuple1 = (1, 2, 3)

del tuple1

In [ ]:
#20. Slice a tuple.
tuple1 = (1, 2, 3)

t1 = tuple1[:2]

t1

(1, 2)

In [ ]:
#21. Find the maximum value in a tuple.
tuple1 = (1, 2, 3)
maxv = 0
for i in  tuple1:
    if i> maxv:
        maxv = i

print("Maximum value in tuple  : ", maxv)

Maximum value in tuple  :  3

In [ ]:
#22. Find the minimum value in a tuple.

tuple1 = (1, 2, 3)
maxv = 100
for i in  tuple1:
    if i< maxv:
        maxv = i

print("Minumum value in tuple  : ", maxv)

Minumum value in tuple  :  1

In [ ]:
#23. Convert a string to a tuple of characters.

s = "word"
tu = tuple(i for i in s)

tu

('w', 'o', 'r', 'd')

In [ ]:
#24. Convert a tuple of characters to a string.
tu =('w', 'o', 'r', 'd')
s= ''
for i in tu:
    s = s + i
s

'word'

In [ ]:
##25. Create a tuple from multiple data types.
tu = (2,'h',256,"Happy",2.0)
tu

(2, 'h', 256, 'Happy', 2.0)

In [ ]:
#26. Check if two tuples are identical.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("tuple1 and tuple2 are identical")
else:
    print("tuple1 and tuple2 are not identical")

tuple1 and tuple2 are identical

In [ ]:
#27. Sort the elements of a tuple.

tuple1 = (10,5,9,31, 2, 3)
s = sorted(tuple1)
s

[2, 3, 5, 9, 10, 31]

In [ ]:
#28. Convert a tuple of integers to a tuple of strings.

tuple1 = (10,5,9,31, 2, 3)

tu = tuple(str(i) for i in tuple1 )

tu

('10', '5', '9', '31', '2', '3')

In [ ]:
#29. Convert a tuple of strings to a tuple of integers.

tuple1 = ('10', '5', '9', '31', '2', '3')

tu = tuple(int(i) for i in tuple1 )

tu

(10, 5, 9, 31, 2, 3)

In [ ]:
#30. Merge two tuples.

tuple1 = (1, 2, 3)
tuple2 = (6, 8, 3)

t3 = tuple1 + tuple2

t3

(1, 2, 3, 6, 8, 3)

In [ ]:
#31. Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flattened_list = []

    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened_list.extend(flatten_tuple(item))
        else:
            flattened_list.append(item)

    return tuple(flattened_list)


nested_tuple = ((1, 2), (3, (4, 5)), 6)

flattened = flatten_tuple(nested_tuple)
print(flattened)

(1, 2, 3, 4, 5, 6)

In [ ]:
#32. Create a tuple of the first 5 prime numbers.
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

# Generate a list of prime numbers up to 50
prime_numbers = tuple(x for x in range(2, 12) if is_prime(x))

print(prime_numbers)

(2, 3, 5, 7, 11)

In [ ]:
#33. Check if a tuple is a palindrome.

t1 = ('m','a','d','a','m')

t2 = t1[::-1]

if t1==t2:
    print("It is Palindrome")
else:
    print("It is not pallindrome")

It is Palindrome

In [ ]:
#34. Create a tuple of squares of numbers from 1 to 5.


t1 = tuple(i**2 for i in range(1,6))

t1

(1, 4, 9, 16, 25)

In [ ]:
#35. Filter out all even numbers from a tuple.

t1 = (2,5,6,8,4,6,1,10,25,56)
t2 = tuple(set(t1))

t3 = tuple(i for i in t2 if i %2 ==0 )

t3

(2, 4, 6, 8, 10, 56)

In [ ]:
#36. Multiply all elements in a tuple by 2.
t1 = (2,5,6,8,4,6,1,10,25,56)

t3 = tuple(i*2 for i in t1)
t3

(4, 10, 12, 16, 8, 12, 2, 20, 50, 112)

In [ ]:
#37. Create a tuple of random numbers.
import random

random_numbers = tuple(random.randint(1, 100) for _ in range(5))

print(random_numbers)

(23, 52, 90, 21, 2)

In [ ]:
#38. Check if a tuple is sorted.
t1 = (2,5,6,8,4,6,1,10,25,56)

t2 = sorted(t1)

if t1 == t2:
    print("Tupple is sorted")
else:
    print("Tupple is not sorted")

Tupple is not sorted

In [ ]:
#39. Rotate a tuple to the left by `n` positions.
t1 = (2,5,6,8,4,6,1,10,25,56)
n = 5

t1 = t1[n:] +t1[0:n]

t1

(6, 1, 10, 25, 56, 2, 5, 6, 8, 4)

In [ ]:
#40. Rotate a tuple to the right by `n` positions.

t1 = (2,5,6,8,4,6,1,10,25,56)
n = 5

t1 = t1[-n:] +t1[0:-n]

t1

(6, 1, 10, 25, 56, 2, 5, 6, 8, 4)

In [ ]:
#41. Create a tuple of the first 5 Fibonacci numbers.


listt =tuple()
for i in range(0,5):
    if i<=1:
        listt=  listt + (i,)
    else:
        listt =  listt + ((listt[i-1] + listt[i-2]),)


print(listt)

(0, 1, 1, 2, 3)

In [ ]:
#42. Create a tuple from user input.
input_values = input("Enter values separated by commas: ")

# Split the input string by commas and convert it into a tuple
user_tuple = tuple(input_values.split(','))

print("User input as a tuple:", user_tuple)

Enter values separated by commas:  1,2,3,6,5

User input as a tuple: ('1', '2', '3', '6', '5')

In [ ]:
#43. Swap two elements in a tuple.

original_tuple = (1, 2, 3, 4)

# Convert the tuple to a list
tuple_list = list(original_tuple)

# Define the indices of the elements to swap
index1 = 0
index2 = 2

# Perform the swap
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

# Convert the list back to a tuple
swapped_tuple = tuple(tuple_list)

print("Original Tuple:", original_tuple)
print("Tuple after swapping elements:", swapped_tuple)

Original Tuple: (1, 2, 3, 4)
Tuple after swapping elements: (3, 2, 1, 4)

In [ ]:
#44. Reverse the elements of a tuple.

t1 = (1, 2, 3, 4)
t1[::-1]

(4, 3, 2, 1)

In [ ]:
#45. Create a tuple of the first `n` powers of 2.
n =5
t1 = tuple(i**2 for i in range(n))

t1

(0, 1, 4, 9, 16)

In [ ]:
#46. Find the longest string in a tuple of strings.
t1 = ('hello','how','are','you','brother','i')

long_word_count = 0
long_word_index = 0

for i in t1:
    if len(i)>= long_word_count:
        long_word_count = len(i)
        long_word_index = t1.index(i)

print("Longest string in tuple is :", t1[long_word_index])

Longest string in tuple is : brother

In [ ]:
#47. Find the shortest string in a tuple of strings.
t1 = ('hello','how','are','you','brother','i')

short_word_count = 100
short_word_index = 0

for i in t1:
    if len(i)<= short_word_count:
        short_word_count = len(i)
        short_word_index = t1.index(i)

print("Longest string in tuple is :", t1[short_word_index])

Longest string in tuple is : i

In [ ]:
#48. Create a tuple of the first `n` triangular numbers.
n = 5
triangles = [i * (i + 1) // 2 for i in range(1, n + 1)]
print(triangles)

[1, 3, 6, 10, 15]

In [ ]:
#49. Check if a tuple contains another tuple as a subsequence.

main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4)

sub_len = len(sub_tuple)
sub_index = 0
for element in main_tuple:
    if element == sub_tuple[sub_index]:
        sub_index += 1
        if sub_index == sub_len:
            print("Main tuple contain Sub tuple")
            break

Main tuple contain Sub tuple

In [ ]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n = 7
alternating_list = [1 if i % 2 == 0 else 0 for i in range(n)]
alternating_tuple = tuple(alternating_list)
alternating_tuple

(1, 0, 1, 0, 1, 0, 1)


Set Based Practice Problem :

In [ ]:
#1. Create a set with integers from 1 to 5.
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [ ]:
#2. Add an element to a set.
s = {1,2,3,4,5}
s.add(25)
s

{1, 2, 3, 4, 5, 25}

In [ ]:
#3. Remove an element from a set.
s = {1,2,3,4,5}
s.remove(4)
s

{1, 2, 3, 5}

In [ ]:
#4. Check if an element exists in a set.
s = {1,2,3,4,5}
n=3
if n in s:
    print("element exist in set")
else:
    print("element not exist in set")

element exist in set

In [ ]:
#5. Find the length of a set without using the `len()` function.
my_set = {1, 2, 3, 4, 5}
count = 0

for element in my_set:
    count += 1

print("The length of the set is:", count)

The length of the set is: 5

In [ ]:
#6. Clear all elements from a set.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [ ]:
#7. Create a set of even numbers from 1 to 10.
s = {i for i in range(1,11) if i%2 == 0}
s

{2, 4, 6, 8, 10}

In [ ]:
#8. Create a set of odd numbers from 1 to 10.
s = {i for i in range(1,11) if i%2 != 0}
s

{1, 3, 5, 7, 9}

In [ ]:
#9. Find the union of two sets.
s1 = {1,9,5,6,4,8}
s2 = {5,1,3,6,7,4}
s3 = s1.union(s2)
s3

{1, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#10. Find the intersection of two sets.
s1 = {1,9,5,6,4,8}
s2 = {5,1,3,6,7,4}
s3 = s1.intersection(s2)
s3

{1, 4, 5, 6}

In [ ]:
#11. Find the difference between two sets.
s1 = {1,9,5,6,4,8}
s2 = {5,1,3,6,7,4}
s3 = s1.difference(s2)
s3

{8, 9}

In [ ]:
#12. Check if a set is a subset of another set.
s1 = {1,9,5,6,4,8}
s2 = {5,1}

if s2.issubset(s1):
    print("set is a subset of another set")
else:
    print("set is not a subset of another set")

set is a subset of another set

In [ ]:
#13. Check if a set is a superset of another set.

s1 = {1,9,5,6,4,8}
s2 = {5,1}

if s1.issuperset(s2):
    print("set is a superset of another set")
else:
    print("set is not a superset of another set")

set is a superset of another set

In [ ]:
#14. Create a set from a list.
l1 = [0,1,2,3,1,2,9,3,1,5,14]

s1 = set(l1)
s1

{0, 1, 2, 3, 5, 9, 14}

In [ ]:
#15. Convert a set to a list.
s1 ={0, 1, 2, 3, 5, 9, 14}

l1 = list(s1)
l1

[0, 1, 2, 3, 5, 9, 14]

In [ ]:
#16. Remove a random element from a set.

s1 ={0, 1, 2, 3, 5, 9, 14}

s1.remove(3)
s1

{0, 1, 2, 5, 9, 14}

In [ ]:
#17. Pop an element from a set.
s1 ={0, 1, 2, 3, 5, 9, 14}

s1.pop()
s1

{1, 2, 3, 5, 9, 14}

In [ ]:
#18. Check if two sets have no elements in common.
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

if set1.isdisjoint(set2):
    print("The two sets have no elements in common.")
else:
    print("The two sets have at least one common element.")

The two sets have no elements in common.

In [ ]:
#19. Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

s3 = set1.symmetric_difference(set2)
s3

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#20. Update a set with elements from another set.
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

set1.update(set2)

set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#21. Create a set of the first 5 prime numbers.
prime_numbers = {2, 3, 5, 7, 11}
prime_numbers

{2, 3, 5, 7, 11}

In [ ]:
#22. Check if two sets are identical.

set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [ ]:
#23. Create a frozen set.
my_set = {1, 2, 3, 4}
my_frozen_set = frozenset(my_set)

print(my_frozen_set)

frozenset({1, 2, 3, 4})

In [ ]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are disjoint.

In [ ]:
#25. Create a set of squares of numbers from 1 to 5.

s1 = {i**2 for i in range(5)}
s1

{0, 1, 4, 9, 16}

In [ ]:
#26. Filter out all even numbers from a set.

s1 = {1,2,3,4,5,6,7,8,9}

even_set = {i for i in s1 if i %2 ==0}
even_set

{2, 4, 6, 8}

In [ ]:
#27. Multiply all elements in a set by 2.
s1 = {1,2,3,4,5,6,7,8,9}

s2 = {i*2 for i in s1}
s2

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [ ]:
#28. Create a set of random numbers.

import random

# Generate 5 random numbers between 1 and 100
random_numbers = set(random.randint(1, 100) for _ in range(5))

# Print the random numbers
print(random_numbers)

{65, 67, 39, 12, 54}

In [ ]:
#29. Check if a set is empty.
set = {1,}

if len(set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is not empty.

In [ ]:
#30. Create a nested set (hint: use frozenset).


numbers = frozenset([1, 2, 3])

letters = frozenset(["a", "b", "c"])

nested_set = frozenset({numbers, letters})


print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({'c', 'a', 'b'})})

In [ ]:
#31. Remove an element from a set using the discard method.
s1 = {1, 2, 3, 4, 5}

s1.discard(3)

print(s1)

{1, 2, 4, 5}

In [ ]:
#32. Compare two sets.
set1 = {1,2,3}
set2 = {4,5,6}
if set1 == set2:
    print("Two set are equal")
else:
    print("Two set are not equal")

Two set are not equal

In [ ]:
#33. Create a set from a string.
string = "This is a string"

set_of_characters = set(string)

print(set_of_characters)

{' ', 't', 'n', 'T', 's', 'i', 'g', 'a', 'r', 'h'}

In [ ]:
#34. Convert a set of strings to a set of integers.

s1 = {'1','2','3','4','5','6'}

s2 = set(int(i) for i in s1)
s2

{1, 2, 3, 4, 5, 6}

In [ ]:
#35. Convert a set of integers to a set of strings.

s1 = {1, 2, 3, 4, 5, 6}

s2 = set(str(i) for i in s1)
s2

{'1', '2', '3', '4', '5', '6'}

In [ ]:
#36. Create a set from a tuple.

tu = (1,1,1,2,3,45,5,6)

set1 = set(tu)

set1

{1, 2, 3, 5, 6, 45}

In [ ]:
#37. Convert a set to a tuple.
set1 = {1, 2, 3, 5, 6, 45}

tup = tuple(set1)

tup

(1, 2, 3, 5, 6, 45)

In [ ]:
#38. Find the maximum value in a set.
set1 = {1, 2, 3, 5, 6, 45}

max(set1)

45

In [ ]:
#39. Find the minimum value in a set.
set1 = {1, 2, 3, 5, 6, 45}

min(set1)

1

In [ ]:
#40. Create a set from user input.

s1= set(input("Enter value by comma seperated  : "))

s1

Enter value by comma seperated  :  hello

{'e', 'h', 'l', 'o'}

In [ ]:
#41. Check if the intersection of two sets is empty.

set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection is empty
if set1.isdisjoint(set2):
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is empty.

In [ ]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()
n = 5
a, b = 0, 1
for _ in range(n):
    fibonacci_set.add(a)
    a, b = b, a + b

fibonacci_set

{0, 1, 2, 3}

In [ ]:
#43. Remove duplicates from a list using sets.

l1= [0,12,3,3,5,6,8,8,8,9,5]
s1 =set(l1)
s1

{0, 3, 5, 6, 8, 9, 12}

In [ ]:
#44. Check if two sets have the same elements, regardless of their count.

set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements, regardless of count.")
else:
    print("The sets do not have the same elements, regardless of count.")

The sets have the same elements, regardless of count.

In [ ]:
#45. Create a set of the first `n` powers of 2.

n = 6
set1 = {i**2 for i in range(n)}

set1

{0, 1, 4, 9, 16, 25}

In [ ]:
#46. Find the common elements between a set and a list.

set1 = {1, 2, 3}
list1 = [1, 2, 4]

print(set1.intersection(list1))

{1, 2}

In [ ]:
#47. Create a set of the first `n` triangular numbers.
n  = 10

triangular_numbers = set()

for i in range(n):
    triangular_numbers.add(i * (i + 1) // 2)

triangular_numbers

{0, 1, 3, 6, 10, 15, 21, 28, 36, 45}

In [ ]:
#48. Check if a set contains another set as a subset.

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

print(set1.issubset(set2))

True

In [ ]:
#49. Create a set of alternating 1s and 0s of length `n`.

n = 10

s1 = {1 if i%2 == 0 else  0 for i in range(n)}
s1
# set conyain unique value

{0, 1}

In [ ]:
#50. Merge multiple sets into one.
s1 = {1,5,6,2,8,9}
s2 = {8,9,5,7,2,46,2}

merged_set = s1 | s2

print(merged_set)

{1, 2, 5, 6, 7, 8, 9, 46}